* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: blinker;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

.bg-container {
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 100vw;
    height: 100vh;
    background-color: rgba(197, 197, 197, 0.523);
}