.main-layout {
    display: grid;
    grid-template-columns: $nav-large-width 1fr 100px;
    // background-color: rgb(250, 250, 250);

    >* {
        grid-column: 2/3;

        &.full {
            grid-column: 1/-1;

        }
    }
}

@media (max-width:1260px) {
    .main-layout {
        grid-template-columns: $nav-medium-width 1fr $nav-medium-width;

        >* {
            grid-column: 2/-1;
        }
    }
}

@media (max-width:770px) {
    .main-layout {
        // margin-top: 70px;

        >* {
            grid-column: 1/-1;
        }
    }

}