// Side bar
$nav-medium-width: 244px;
$nav-border-color: #dbdbdb;
$nav-link-bgc-hover: #fafafa;

// Settings modal
$set-hover-color: #fafafa;

// Search modal
$input-bg-color: #efefef;
$clear-input-btn-bg-color: #e0e0e0;