.pop-up-notic {
    // background-color: red;
    position: relative;
    width: 50px;
    height: 100%;
    animation: pop-up-animation 0.5s;

    &.off {
        transition: 0.5s;
        opacity: 0;
    }

    // right: 25px;
    // top: calc(100vh - 66%);
    & .container-pop-up {
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 35px;
        position: absolute;
        right: -9%;
        top: -8%;
        border-radius: 15%;
        z-index: 4;

    }

    & .arrow {
        height: 20px;
        width: 15px;
        position: absolute;
        top: 15%;
        left: -16%;
        z-index: 1;
        border-top: 10px solid transparent;
        border-right: 10px solid red;
        border-bottom: 10px solid transparent;
    }
}

@keyframes pop-up-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}