.post-list-profile {
    margin: 10px auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;


    .post-grid {
        list-style: none;
        max-height: 310px;
        max-width: 310px;

        .post-img {
            aspect-ratio: 1/1;
            object-fit: cover;
            width: 100%;

        }

    }


}