.side-bar-container {
    position: fixed;
    z-index: 2;

    &.darkMode {

        .side-bar {
            background-color: black;
            border-right: solid 1px #262626;

            nav {
                >* {
                    color: white;
                }

                >*:hover {
                    background-color: #1a1a1a;
                }

                .side-bar-btn {
                    button {
                        color: white;
                    }
                }
            }

            .settings-btn {
                color: white;

                &:hover {
                    background-color: #1a1a1a;
                    border-radius: 50px;
                }
            }


        }

        .settings-modal {
            >* {
                background-color: black;

                >* {
                    color: white;

                }

                :hover {
                    background-color: #1a1a1a;
                }
            }
        }

        .search-bar {
            background-color: black;
            border-right: solid 1px #262626;
            color: white;

            .top {
                border-bottom: solid 1px #262626;


                .search-input {
                    background: #262626;
                    color: white;
                }
            }
        }

        .clear-search-input-btn {
            &:hover {

                background: #1a1a1a;
            }
        }

        .mobile-bar {
            .top-bar {
                background-color: black;

                .search-bar-n-notification-mobile {
                    & .search-input {
                        background: #262626;
                        color: white;
                    }

                    a {
                        >* {
                            color: white;
                        }
                    }
                }
            }

            .bottom-bar {
                background-color: black;

                nav {
                    >* {
                        >* {
                            color: white;

                        }
                    }

                    .side-bar-btn:hover {
                        background-color: #262626;
                    }

                }
            }
        }

        .search-mobile {
            .search-mobile-bar {
                color: white;
                background-color: #262626;
            }
        }

        .create-post-modal {
            .create-modal {
                .top {
                    color: white;
                }

                background-color: #262626;

                .uploader {
                    background-color: inherit;

                    small {
                        color: white;
                    }
                }
            }
        }

        .want-to-create-modal {
            background-color: #262626;
            border: 1px solid #1a1a1a;
        }
    }

    .side-bar {
        position: relative;
        display: grid;
        grid-template-rows: 92px 1fr 56px;
        height: 100vh;
        width: $nav-large-width;
        border-right: solid 1px $nav-border-color;
        padding: 20px 12px 8px 12px;
        background-color: white;

        >* {
            font-size: 16px;
        }

        .logo {
            padding: 25px 12px 16px 12px;
            margin-bottom: 19px;
        }

        .logo-img {
            max-width: 100px;
        }

        .logo-line-img {
            max-width: 30px;
        }

        nav {
            display: flex;
            flex-direction: column;

            >* {
                padding: 12px;
                margin: 4px 0;
            }

            a {
                display: flex;
                align-items: center;
                text-decoration-line: none;
                color: black;

                span {
                    margin-left: 8px;
                }
            }

            a.active {
                font-family: blinker-bold;
            }

            a:hover {
                background-color: $nav-link-bgc-hover;
                border-radius: 50px;
            }

            .profile-btn {
                display: flex;
                align-items: center;
                min-height: 54px;


            }

            .side-bar-btn {

                span {
                    margin-left: 8px;
                }

                &.create {
                    justify-content: space-between;

                    & .create-post-btn {
                        flex-grow: 1;
                        animation-name: post-btn-animasion;
                        animation-duration: 1s;
                    }

                    & .create-story-btn {
                        flex-grow: 1;
                        animation-name: story-btn-animasion;
                        animation-duration: 1s;
                    }
                }
            }
        }

        .settings-btn {
            background: none;
            border: none;
            text-align: left;
            font-family: blinker;
            display: flex;
            align-items: center;

            &:hover {
                background-color: $nav-link-bgc-hover;
                border-radius: 50px;
            }

            &.isSettingsModalOpen {
                font-family: blinker-bold;
            }
        }

        &.isSearchOpen {
            z-index: 2;
            transition: 1s;
            width: 70px;
        }

        &.isTabletMode {
            transition: 1s;
            width: $nav-medium-width;
        }

        &.isTabletMode.isWantToCreate {
            transition: 1s;
            width: 120px;

        }

    }
}

.mobile-bar {
    .top-bar {
        background-color: white;
        height: 60px;
        position: fixed;
        top: 0;
        width: 100%;
        border-bottom: 1px solid $nav-border-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;

        .logo-img {
            max-width: 100px;
        }

        .search-bar-n-notification-mobile {
            display: flex;
            align-items: center;

            & .search-input {
                &.mobile {
                    height: 36px;
                    width: 268px;
                }

            }

            .clear-search-input-btn {
                right: 64px;
                top: 18px
            }
        }
    }

    .bottom-bar {
        background-color: white;
        position: fixed;
        bottom: 0;
        width: 100%;
        border-top: 1px solid $nav-border-color;

        nav {
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .nav-btn {
                display: flex;
                align-items: center;
            }
        }
    }

}

.settings-modal {
    position: fixed;
    bottom: 65px;
    left: 20px;
    gap: 5px;
    display: grid;

    >* {
        display: grid;
        box-shadow: 0px 0px 4px #c2bfbf;
        border-radius: 5px;
        background-color: white;

        >* {
            color: black;
            text-decoration: none;
            padding: 8px 16px;
            cursor: pointer;
            width: 206px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
        }

        :hover {
            background-color: $set-hover-color;
            color: inherit;
            text-decoration: none;
        }

        :not(:last-child, span) {
            border-bottom: 1px solid $nav-border-color;
        }
    }

}

.search-bar {
    animation-name: search-bar-animasion;
    animation-duration: 1s;
    position: fixed;
    border-right: 1px solid $nav-border-color;
    height: 100vh;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    top: 0;
    left: 70px;
    width: 400px;
    background-color: white;
    z-index: 1;
    box-shadow: -10px -1px 20px;

    .top {

        border-bottom: 1px solid $nav-border-color;
        padding-bottom: 24px;

        h1 {
            padding: 12px 14px 36px 24px;
            font-size: 24px;
        }

        .search-input {
            height: 40px;
        }

        .clear-search-input-btn {
            right: 23px;
            top: 77px;
        }

    }

}

.side-bar-btn {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    font-family: blinker;
    font-size: 16px;

    &:hover {
        background: $nav-link-bgc-hover;
        border-radius: 50px;
    }
}

.clear-search-input-btn {
    position: absolute;
    right: 23px;
    top: 77px;
    background: none;
    border: none;
    border-radius: 50%;

    &:hover {
        background: $clear-input-btn-bg-color;
    }
}

.search-input {
    border: 0;
    outline: none;
    background: $input-bg-color;
    border-radius: 5px;
    margin: 0 16px;
    width: 92%;
    padding: 3px 13px;
}

.profile-img {
    margin: 0;
    width: 24px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}

.search-mobile {

    .container {
        top: 60px;
        z-index: 2;
        position: fixed;
        height: calc(100vh - 60px);
    }

    .search-mobile-bar {
        position: fixed;
        z-index: 3;
        right: 10px;
        top: 60px;
        padding: 10px;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0px 0px 20px $nav-border-color;
        width: 375px;
        height: 362px;

    }
}

.want-to-create-modal {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border: 1px solid $nav-border-color;
    border-radius: 10px;
    position: fixed;
    bottom: 50px;
    right: calc(150px + 2vw);
}

@keyframes search-bar-animasion {
    from {
        width: 200px;
        left: 20px;
    }

    to {
        width: 400px;
        left: 70px;
    }
}

@keyframes story-btn-animasion {
    from {
        transform: rotateX(0.25turn);

    }

    to {
        transform: rotateX(0turn);

    }
}

@keyframes post-btn-animasion {
    from {
        transform: rotateX(0.75turn);
    }

    to {
        transform: rotateX(1turn);


    }
}