.side-bar-container {
    position: fixed;
    z-index: 0;

    &.darkMode {

        .side-bar {
            background-color: black;
            border-right: solid 1px #262626;

            nav {
                >* {
                    color: white;
                }

                >*:hover {
                    background-color: #1a1a1a;
                }

                .side-bar-btn {
                    button {
                        color: white;
                    }
                }
            }

            .settings-btn {
                color: white;

                &:hover {
                    background-color: #1a1a1a;
                    border-radius: 50px;
                }
            }


        }

        .settings-modal {
            >* {
                background-color: black;

                >* {
                    color: white;

                }

                :hover {
                    background-color: #1a1a1a;
                }
            }
        }

        .search-bar {
            background-color: black;
            border-right: solid 1px #262626;
            color: white;

            .top {
                border-bottom: solid 1px #262626;


                .search-input {
                    background: #262626;
                    color: white;
                }
            }

        }

        .clear-search-input-btn {
            &:hover {

                background: #1a1a1a;
            }
        }

        .mobile-bar {
            .top-bar {
                background-color: black;

                .search-bar-n-notification-mobile {
                    & .search-input {
                        background: #262626;
                        color: white;
                    }

                    a {
                        >* {
                            color: white;
                        }
                    }
                }
            }

            .bottom-bar {
                background-color: black;

                nav {
                    >* {
                        >* {
                            color: white;

                        }
                    }

                    .side-bar-btn:hover {
                        background-color: #262626;
                    }

                }
            }
        }

        .search-mobile {
            .search-mobile-bar {
                color: white;
                background-color: #262626;
            }
        }

        .create-post-modal {
            .create-modal {
                .top {
                    color: white;
                }

                background-color: #262626;

                .uploader {
                    background-color: inherit;

                    small {
                        color: white;
                    }
                }
            }
        }

        .want-to-create-modal {
            background-color: #262626;
            border: 1px solid #1a1a1a;
        }
    }

    .side-bar {
        position: relative;
        display: grid;
        grid-template-rows: 40px 1fr 56px;
        height: 100vh;
        width: $nav-large-width;
        border-right: solid 1px $nav-border-color;
        padding: 20px 12px 8px 12px;
        background-color: white;

        >* {
            font-size: 16px;
        }

        .logo {
            object-fit: cover;
            padding: 0px 0px 0px 12px;
            margin-bottom: 19px;
        }

        .logo-img {
            max-width: 100px;
        }

        .logo-line-img {
            max-width: 30px;
        }

        nav {
            display: flex;
            flex-direction: column;

            >* {
                transition: .5s;
                max-width: 219px;
                padding: 12px;
                margin: 4px 0;

                & span {
                    &.isSidebarWindowOpen {
                        display: none;
                        opacity: 0;
                        animation: btns-opacity .5s reverse;
                    }


                    &.isClosing,
                    .isSidebarWindowOpen {
                        display: flex;
                        opacity: 1;
                        animation: btns-opacity .5s;
                    }

                }
            }

            a {
                display: flex;
                align-items: center;
                text-decoration-line: none;
                color: black;

                span {
                    margin-left: 8px;
                }
            }

            a.active {
                font-family: blinker-bold;
            }

            a:hover {
                background-color: $nav-link-bgc-hover;
                border-radius: 50px;
            }

            .profile-btn {
                display: flex;
                align-items: center;
                min-height: 54px;


            }

            .side-bar-btn {

                span {
                    margin-left: 8px;
                }

                &.create {
                    justify-content: space-between;

                    & .create-post-btn {
                        flex-grow: 1;
                        animation-name: post-btn-animation;
                        animation-duration: 1s;
                    }

                    & .create-story-btn {
                        flex-grow: 1;
                        animation-name: story-btn-animation;
                        animation-duration: 1s;
                    }


                }
            }

            & .notifications-btn {
                justify-content: space-between;

                & .btn-container {
                    position: relative;
                    display: flex;
                    align-items: center;

                }

            }
        }

        .settings-btn {
            background: none;
            border: none;
            text-align: left;
            font-family: blinker;
            display: flex;
            align-items: center;

            &:hover {
                background-color: $nav-link-bgc-hover;
                border-radius: 50px;
            }

            &.settings {
                font-family: blinker-bold;
            }

            & span {
                &.isSidebarWindowOpen {
                    display: none;
                    opacity: 0;
                    animation: btns-opacity .5s reverse;
                }


                &.isClosing,
                .isSidebarWindowOpen {
                    display: block;
                    opacity: 1;
                    animation: btns-opacity .5s;
                }

            }
        }

        &.isSidebarWindowOpen {
            z-index: 1;
            transition: 1s;
            width: $nav-medium-width;


        }

        &.isClosing,
        .isSidebarWindowOpen {
            transition: .5s;
            width: 244px;
        }

        &.isTabletMode {
            transition: 1s;
            width: $nav-medium-width;
        }

        &.isSwitching {
            width: $nav-medium-width;
            background-color: #0095f6;
        }

        &.isTabletMode.isWantToCreate {
            transition: 1s;
            width: $nav-medium-width;


        }

    }

    & .bg-container {
        background-color: black;
        opacity: 0.5;

        &.on-bar {

            z-index: 0;
            left: 0;
            position: absolute;

            &.p1 {
                width: $nav-medium-width;
                top: 0;
                height: 170px;

            }

            &.p2 {
                width: $nav-medium-width;
                top: 235px;
                height: 64px;

            }

            &.p3 {
                width: $nav-medium-width;
                top: 360px;
                height: calc(100vw - 360px);

            }
        }
    }

}

.side-bar-modal {
    & .bg-container {
        z-index: -1;
    }
}

.mobile-bar {
    .top-bar {
        background-color: white;
        height: 60px;
        position: fixed;
        top: 0;
        z-index: 10;
        width: 100%;
        border-bottom: 1px solid $nav-border-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;

        .logo-img {
            max-width: 30px;
        }

        .search-bar-n-notification-mobile {
            display: flex;
            align-items: center;
            width: 60vw;

            & .search-input {
                &.mobile {
                    height: 36px;
                    width: 100%;
                }

            }

            .clear-search-input-btn {
                position: relative;
                right: 40px;
                top: 0px
            }
        }
    }

    .bottom-bar {
        background-color: white;
        position: fixed;
        bottom: 0;
        width: 100%;
        border-top: 1px solid $nav-border-color;

        nav {
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .nav-btn {
                display: flex;
                align-items: center;
            }
        }
    }

}

.settings-modal {
    position: fixed;
    bottom: 65px;
    left: 20px;
    gap: 5px;
    display: grid;

    >* {
        display: grid;
        box-shadow: 0px 0px 4px #c2bfbf;
        border-radius: 5px;
        background-color: white;

        >* {
            color: black;
            text-decoration: none;
            padding: 8px 16px;
            cursor: pointer;
            width: 206px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
        }

        :hover {
            background-color: $set-hover-color;
            color: inherit;
            text-decoration: none;
        }

        :not(:last-child, span) {
            border-bottom: 1px solid $nav-border-color;
        }
    }

}

.side-bar-side-window {
    animation: side-window-animation .5s;
    position: fixed;
    z-index: 0;
    border-right: 1px solid $nav-border-color;
    height: 100vh;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    top: 0;
    left: 70px;
    width: 400px;
    background-color: white;
    box-shadow: -10px -1px 20px;

    .top {

        border-bottom: 1px solid $nav-border-color;
        padding-bottom: 24px;

        h1 {
            padding: 12px 14px 36px 24px;
            font-size: 24px;
        }

        .search-input {
            height: 40px;
        }

        .clear-search-input-btn {
            right: 23px;
            top: 82px;
        }

    }

    &.isClosing {
        transition: .5s;
        left: -50%;
    }

}

.side-bar-btn {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    font-family: blinker;
    font-size: 16px;

    &:hover {
        background: $nav-link-bgc-hover;
        border-radius: 50px;
    }
}

.clear-search-input-btn {
    position: absolute;
    right: 23px;
    top: 82px;
    background: none;
    border: none;
    border-radius: 50%;

    &:hover {
        background: $clear-input-btn-bg-color;
    }
}

.search-input {
    border: 0;
    outline: none;
    background: $input-bg-color;
    border-radius: 5px;
    margin: 0 16px;
    width: 92%;
    padding: 3px 13px;
}

.profile-img {
    margin: 0;
    width: 24px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}

.search-mobile {

    .search-mobile-bar {
        position: fixed;
        z-index: 15;
        right: 10px;
        top: 8vh;
        padding: 10px;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0px 0px 5px $nav-border-color;
        width: 75vw;
        height: 362px;

    }
}

.want-to-create-modal {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border: 1px solid $nav-border-color;
    border-radius: 10px;
    position: fixed;
    bottom: 50px;
    right: calc(150px + 2vw);
}

.dot-notic {
    position: absolute;
    left: 22px;
    top: 0;
    border-radius: 50%;
    border: solid 2px white;
    background-color: red;
    width: 12px;
    height: 12px;
    animation: dot-animation 0.5s;

    &.isMobileMode {
        left: calc(100vw - 42px);
        top: 14px;

    }
}

.list-modal {


    .lists-container {
        background-color: red;
        padding: 10px;

        position: fixed;
        top: calc(100vh - 90%);
        left: 50%;
        transform: translateX(-50%);
        z-index: 4;
    }

    & .followers-list {

        background-color: #0095f6;

        & .list-info {
            list-style: none;
        }
    }

    & .bg-container {
        position: fixed;
        opacity: 1;
        z-index: 2;
        background-color: rgba(255, 0, 0, 0.066)(0, 0, 0);
    }
}

@media (min-width: 1260px) {
    .side-bar-container {
        .side-bar {
            grid-template-rows: 85px 1fr 56px;
        }
    }
}

@keyframes side-window-animation {
    from {
        width: 200px;
        left: -30%;
    }

    to {
        width: 400px;
        left: 70px;
    }
}

@keyframes story-btn-animation {
    from {
        transform: rotateX(0.25turn);

    }

    to {
        transform: rotateX(0turn);

    }
}

@keyframes post-btn-animation {
    from {
        transform: rotateX(0.75turn);
    }

    to {
        transform: rotateX(1turn);


    }
}

@keyframes dot-animation {
    from {
        width: 0px;
        height: 0px;
        opacity: 0;
    }

    to {
        opacity: 1;
        width: 12px;
        height: 12px;
    }
}

@keyframes btns-opacity {
    from {

        opacity: 0;
    }

    to {
        opacity: 1;

    }
}