$max-height: 54vw;
$med-height: 62vw;
$min-height: 120vw;

.story-slider {
    height: 100vh;
    grid-column: 1/-1;
    display: flex;
    align-items: center;

    .bg-container {
        background-color: #1a1a1a;
        position: fixed;
        z-index: 3;
    }

    &-container {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        min-height: 650px;
        max-height: 837px;
        max-width: calc((837px / 100) *56.24);
        width: calc(($max-height / 100) *56.24);
        border-radius: 10px;
        z-index: 4;

        .onInput {
            border-radius: 10px;
            z-index: 6;
            position: absolute;
            top: 0;
            width: inherit;
            height: inherit;
            background-color: rgba(229, 229, 229, 0.187);
        }

        .img-container {
            max-width: calc((837px / 100) *56.24);
            width: calc(($max-height / 100) *56.24);
            min-height: 650px;
            max-height: 837px;
            background-color: black;
            // background-size: cover;
            object-fit: contain;
            border-radius: 10px;

        }

        .bg-container {
            position: fixed;
            left: 0;
            top: 0;
            z-index: 0;
        }

        .story-user-info {
            position: absolute;
            top: 20px;
            left: 5%;
            width: 90%;
            display: flex;
            align-items: center;
            gap: 8px;
            z-index: 5;

            .user-img {
                width: 32px;
                border-radius: 50%;
                aspect-ratio: 1/1;
                object-fit: cover;
            }

            p {
                color: white;
                margin: 0;
            }

            .interval-btn {
                position: absolute;
                right: 0;
                color: white;
            }
        }

        & .story-slider-actions {
            position: absolute;
            top: 45%;
            left: -45px;
            width: calc(($max-height / 100) *56.24 + 90px);
            max-width: calc((837px / 100) *56.24 + 90px);

            >* {
                background: rgba(255, 255, 255, 0.612);
                border-radius: 50%;
                aspect-ratio: 1/1;
            }

            .left-btn {
                position: absolute;
                left: 0;
            }

            .right-btn {
                position: absolute;
                right: 0;
            }
        }

        & .story-slider-num {
            left: 5%;
            top: 5px;
            position: absolute;
            height: 5px;
            width: 90%;
            display: flex;
            gap: 5px;

            & li {
                list-style: none;

                flex: 1;
            }

            .line {
                height: 5px;
                border-radius: 5px;
                background-color: rgba(255, 255, 255, .35);
                flex: 1;

                &.prev {
                    background-color: white;

                }

                & .on {
                    height: 5px;
                    border-radius: 5px;
                    background-color: white;
                    transition: width 0.1s linear;
                }
            }
        }

        & .comment-likes {
            position: absolute;
            bottom: 2.5%;
            left: 5%;
            width: 90%;
            display: flex;
            min-height: 44px;
            z-index: 7;

            input {
                flex-grow: 1;
                border-radius: 50px;
                background: none;
                padding: 0 5%;
                border: 1px solid #dbdbdbb0;
            }

            .send {
                position: absolute;
                right: 15%;
                top: 30%;
            }

            >* {
                color: #dbdbdbb0;
            }
        }

    }
}

@media (max-width:1350px) {
    .story-slider {
        &-container {
            height: $med-height;
            // min-width: 380px;
            width: calc(($med-height / 100) *56.24);

            .img-container {
                width: calc(($med-height / 100) *56.24);
                height: $med-height;
            }

            & .story-slider-actions {
                width: calc(($med-height / 100) *56.24 + 90px);
            }
        }
    }
}

@media (max-width:870px) {
    .story-slider {
        &-container {
            height: $min-height;
            width: calc(($min-height / 100) *56.24);

            .img-container {
                width: calc(($min-height / 100) *56.24);
                height: $min-height;
            }

            & .story-slider-actions {
                width: calc(($min-height / 100) *56.24 + 90px);
            }
        }
    }
}