.user-post-settings {

    & .post-settings-modal {
        animation-name: settings-animasion;
        animation-duration: 1s;
        position: absolute;
        background-color: white;
        border-radius: 15px;
        width: 400px;
        top: 30vh;
        left: 40vw;
        z-index: 4;
        display: flex;
        flex-direction: column;

        >* {
            padding: 15px 0;
        }

        :not(:last-child) {
            border-bottom: 1px solid $nav-border-color;
        }
    }

    & .container {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;
    }
}


@keyframes settings-animasion {
    from {
        width: 450px;
        height: 400px;
        top: 28vh;
        left: 38vw;
        opacity: 0;
    }

    to {
        width: 400px;
        height: 367px;
        top: 30vh;
        left: 40vw;
        opacity: 1;
    }
}