.users-messeges-list {
    list-style: none;

    .msg-list {
        min-height: 56px;
        padding: 8px 24px;
        cursor: pointer;

        & .user-msg-container {
            display: flex;

            & img {
                margin-right: 12px;
                border-radius: 50%;
                width: 56px;
            }

            & .msg-info {
                display: flex;
                flex-direction: column;
                width: max-content;
            }


        }


        &.active {
            background-color: #efefef;

            &:hover {
                background-color: #efefef;
            }
        }

        &:hover {
            background-color: #fafafa;
        }

    }


}