.messages-container {
    background-color: #fafafa;
    grid-column: 2/-1;
    height: 100vh;
}

.messages {
    border: 1px solid $nav-border-color;
    border-radius: 5px;
    display: flex;
    margin: 20px auto;
    background-color: white;
    height: 90vh;
    width: 935px;


    &-users {
        width: 350px;
        border-right: 1px solid $nav-border-color;

        .top {
            display: flex;
            border-bottom: 1px solid $nav-border-color;

            .user-name {
                width: 100%;
                text-align: center;
                padding: 20px;
            }

            button {
                background: none;
                border: none;
            }
        }

        .users {
            height: fit-content;
        }
    }

    &-chat {
        width: 585px;
        position: relative;

        & .input-form {
            position: absolute;
            bottom: 10px;
            width: 100%;
            display: flex;
            align-items: center;

            textarea {

                margin: auto;
                border: 1px solid $nav-border-color;
                border-radius: 20px;
                height: 44px;
                width: 95%;
                padding: 9px 35px 9px 15px;
                resize: none;
            }

            .send-btn {
                color: #5a97f6;
                position: absolute;
                right: 30px;
            }
        }
    }

}