.messages-container {
    background-color: #fafafa;
    grid-column: 2/-1;
    height: 100vh;
}

.messages {
    border: 1px solid $nav-border-color;
    border-radius: 5px;
    display: flex;
    margin: 20px auto;
    background-color: white;
    height: 90vh;
    width: 935px;


    &-users {
        width: 350px;
        border-right: 1px solid $nav-border-color;

        .top {
            display: flex;
            border-bottom: 1px solid $nav-border-color;

            .user-name {
                width: 100%;
                text-align: center;
                padding: 20px;
            }

            button {
                background: none;
                border: none;
            }
        }

        .users {
            height: fit-content;
        }
    }

    &-chat {
        width: 585px;
        position: relative;
        padding: 5px;
        overflow: auto;

        & .msgs-container {
            margin-bottom: 15px;
            min-height: 92%;
        }

        & .msgs {
            display: flex;

            &.user-msg {
                justify-content: end;
            }

            & .msg {
                background-color: #efefef;
                max-width: fit-content;
                margin-top: 1.5px;
                padding: 7px 12px;

                &.user-msg {
                    border-top-left-radius: 18px;
                    border-bottom-left-radius: 18px;
                    border-top-right-radius: 18px;
                    border-bottom-right-radius: 5px;
                    background-color: #3797f0;
                }

                &.guest-msg {
                    border-top-right-radius: 18px;
                    border-bottom-right-radius: 18px;
                    border-top-left-radius: 18px;
                    border-bottom-left-radius: 5px;
                }
            }
        }

        & .typing {
            padding-bottom: 60px;
        }

        & .input-form {
            position: sticky;
            bottom: 10px;
            width: 100%;
            display: flex;
            align-items: center;

            textarea {

                margin: auto;
                border: 1px solid $nav-border-color;
                border-radius: 20px;
                height: 44px;
                width: 95%;
                padding: 9px 35px 9px 15px;
                resize: none;
            }

            .send-btn {
                color: #5a97f6;
                position: absolute;
                right: 30px;
            }
        }
    }

}