.user-profile {
    margin: 0 auto;
    padding: 20px;
    width: 100%;

    &.mobile {
        padding: 0;
        margin-top: 70px;
    }

    .top {
        display: flex;
        padding-bottom: 20px;
        border-bottom: 1px solid $nav-border-color;

        .img-container {
            min-width: 300px;
            display: flex;
            justify-content: center;

            img {
                aspect-ratio: 1/1;
                object-fit: cover;
                width: 150px;
                border-radius: 50%;
            }
        }

        .right-container {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            gap: 15px;

            .user-details {
                font-size: 18px;

                display: flex;
                gap: 20px;
                align-items: center;

                span {
                    font-weight: bold;
                }

                button {
                    border: none;
                    border-radius: 10px;
                    padding: 10px;
                }
            }

            .user-amount {
                display: flex;
                flex-direction: row;
                gap: 15px;

                span {
                    font-weight: bold;
                }
            }

            .user-summery {
                font-weight: bold;
                display: flex;
            }
        }

        &.mobile {
            display: block;
            padding: 0 20px;

            .flex {
                display: flex;
                gap: 15px;
            }

            .img-container {
                min-width: 80px;
                padding-bottom: 20px;

                img {
                    width: 77px;

                }
            }

            .right-container {
                flex-grow: 0;

                .user-details {
                    font-weight: bold;

                }

                button {
                    background-color: rgb(236, 236, 236);
                    border: none;
                    border-radius: 10px;
                    padding: 10px 100px;
                }
            }

            .user-summery {
                font-weight: bold;
                padding-bottom: 20px;
            }
        }

    }

    & .user-amount {
        &.mobile {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            border-bottom: 1px solid $nav-border-color;
            padding: 12px 0;

            * {
                display: flex;
                flex-direction: column;
                align-items: center;

                span {
                    font-weight: bold;
                }
            }
        }
    }

    .actions {
        width: max-content;
        margin: 0 auto;

        >* {
            margin-left: 20px;
        }

        button {
            border: none;
            background: none;
        }

    }

    .no-posts {
        text-align: center;
        padding-top: 50px;
    }
}