.post-list-profile {
    margin: 10px auto;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 310px);
    grid-template-rows: 310px;
    gap: 5px;


    >li {
        list-style: none;
        max-height: 310px;

        img {
            aspect-ratio: 1/1;
            object-fit: contain;
            width: 310px;
        }

    }


}