.post-modal {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;

    .container {
        width: 100vw;
        height: 100vh;
        background-color: rgba(120, 120, 120, 0.523);
    }

    .post-actions-btns {
        button {
            border-radius: 50%;
            padding: 10px;

            &:hover {
                background: rgb(224, 224, 224);
            }
        }

        & .right {
            position: absolute;
            top: 50vh;
            right: 40px;
        }

        & .left {
            position: absolute;
            top: 50vh;
            left: 40px;
        }
    }

    .post {
        width: calc(100vw * 0.8);
        height: calc(100vw * 0.5);
        border-radius: 5px;
        display: flex;
        position: absolute;
        top: calc(220px - 10vw);
        left: calc(35vw * 0.3);
        z-index: 4;
        background-color: rgb(255, 255, 255);

        .post-images {
            width: 60%;
            // min-width: calc(100vw * 0.3);
            border-right: 1px solid $nav-border-color;

            .swiper {
                height: 100%;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;

            }

            img {
                aspect-ratio: 1/1.05;
                object-fit: contain;
                background-color: black;
                width: 100%;
            }
        }

        .summery-n-comments {
            width: 40%;

            .summery-top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 15px;
                border-bottom: 1px solid $nav-border-color;

                header {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .user-img {
                        width: 32px;
                        aspect-ratio: 1/1;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                }

            }

            .comments {
                padding: 15px;
                height: 80%;
                position: relative;
                overflow-y: scroll;
                display: grid;
                grid-template-rows: repeat(auto-fill, 50px);
                gap: 5px;

                &::-webkit-scrollbar {
                    -webkit-appearance: none;
                }

                .post-summery {
                    margin-top: 5px;
                    display: flex;
                    gap: 10px;

                    .summery-img {
                        align-self: start;
                        width: 30px;
                        border-radius: 50%;
                        aspect-ratio: 1/1;
                        object-fit: cover;
                    }

                    .summery-info {
                        display: flex;
                        gap: 5px;

                        span {
                            font-size: 14px;
                        }
                    }
                }

                .post-comment {
                    position: relative;
                    margin-top: 5px;
                    min-height: 50px;
                    display: flex;
                    justify-content: space-between;

                    .comment-info-container {
                        display: flex;
                        gap: 10px;
                    }

                    .comment-img {
                        align-self: start;
                        width: 30px;
                        border-radius: 50%;
                        aspect-ratio: 1/1;
                        object-fit: cover;
                    }

                    .comment-like-n-comments {
                        position: absolute;
                        bottom: 0;
                        left: 40px;
                        display: flex;
                        gap: 5px;

                        span {
                            font-size: 14px;
                            color: rgb(184, 184, 184);
                        }
                    }

                    .comment-info {
                        display: flex;
                        gap: 5px;

                        .comment-txt {
                            max-height: 32px;
                            font-size: 14px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;

                            span {
                                font-weight: bold;
                                padding-right: 5px;
                            }
                        }
                    }



                    button {
                        height: max-content;
                    }

                }

                .no-comments {
                    position: absolute;
                    display: grid;
                    top: 40%;
                    left: 30%;
                    text-align: center;

                    span {
                        font-weight: bold;
                        font-size: 24px;
                    }

                }

            }

            .post-comment-ul {
                margin: 0;
                padding: 0;
            }

            .add-comment {
                background-color: white;
                display: flex;
                flex-direction: column;
                border-top: 1px solid $nav-border-color;
                position: absolute;
                width: 40%;
                border-bottom-right-radius: 5px;
                bottom: 0;

                >:not(:last-child) {
                    padding: 0 10px;
                    margin: 5px 0;
                }

                .actions-btns {
                    display: flex;
                    justify-content: space-between;

                }



                & small {
                    color: rgb(179, 179, 179);
                    font-size: 12px;
                }
            }
        }
    }

}

.input-actions {
    position: relative;

    .comment-input {
        width: 100%;
        border: none;
        border-top: 1px solid $nav-border-color;
        padding: 10px;
        font-size: 16px;
        border-bottom-right-radius: 5px;

        &:focus-visible {
            outline: none;
        }
    }

    a {
        color: rgb(200, 200, 250);
        right: 5px;
        top: 10px;
        position: absolute;
        cursor: not-allowed;

        &.active,
        :hover {
            cursor: pointer;
            color: black;
        }

        &.active {
            color: blue
        }

    }
}

@media (max-width: 1200px) {
    .post-modal {

        .post {
            .summery-n-comments {
                .comments {

                    .no-comments {
                        top: 30%;
                        left: 20%;
                    }
                }
            }
        }

    }

}

@media (max-width: 770px) {

    .post-modal {
        .post {
            width: 350px;
            display: block;
            left: calc(35vw * 0.7);


            .post-images {
                width: 100%;
                border-right: none;

                .swiper {
                    border-top-left-radius: 0px;
                }
            }

            .summery-n-comments {
                background-color: white;
                width: 100%;
                height: 557px;
                position: absolute;
                top: -60px;
                border-radius: 10px;

                .comments {
                    display: none;
                }

                .add-comment {
                    width: 100%;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;

                    .input-actions {
                        .comment-input {
                            border-bottom-left-radius: 10px;
                            border-bottom-right-radius: 10px;
                        }
                    }
                }

            }
        }

    }
}