.stories {
    display: flex;
    gap: 20px;
    max-width: 630px;
    margin: 0 auto;
    overflow: auto clip;

    &::-webkit-scrollbar {
        display: none;
    }

    .story-list {
        list-style: none;
        text-align: center;

    }

}

.story {
    width: max-content;

    &-user-img {
        max-width: 56px;
        border-radius: 50%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    &-user-name {
        margin: 0;
    }

    &-open {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
    }

    &-btn {
        display: flex;
        align-items: center;
        position: relative;
        padding: 3px;
        box-sizing: border-box;
        color: #FFF;
        background: #ffffff;
        background-clip: padding-box;
        border: solid 3px transparent;
        border-radius: 50%;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            margin: -2px;
            border-radius: inherit;
            background: linear-gradient(225deg, red, orange);
        }
    }
}